[Desktop Entry]
Version=1.0.0
Name=multi window app
GenericName=multi window app
Comment=A new Flutter project.
Terminal=false
Type=Application
Categories=Utility;
Keywords=Flutter;
Icon=multi_window_app
