[Desktop Entry]
Version=1.0.1
Name=User Manager
GenericName=User Manager
Comment=User Manager with Multi-Window and Print support.
Terminal=false
Type=Application
Categories=Utility;
Keywords=Flutter;
Icon=multi_window_app
